table {
  margin: auto;
  margin-top: 200px;
}

td {
  text-align: center;
  font-size: 30px;
  color: white;
  border: blue solid 1px;
  width: 100px;
  height: 100px;
  padding: 0;
  background-color: black;
}
